/src/test/java/test/Test.java
/ReporterClientDekstop/target/
/NetworkProtocolLib/target/
/src/
/.idea/.gitignore
/ReporterServer/target/classes/ua/valeriishymchuk/reporter/server/admin/AccessInfo.class
/ReporterServer/target/classes/ua/valeriishymchuk/reporter/server/admin/AccountInfo.class
/ReporterServer/target/classes/ua/valeriishymchuk/reporter/server/channels/ChannelsInfoContainer.class
/target/classes/ua/valeriishymchuk/common/CheckedConsumer.class
/.idea/compiler.xml
/target/classes/ua/valeriishymchuk/rcr/thread/ConsoleReaderThread.class
/session/data/db.sqlite
/session/data/db.sqlite-shm
/session/data/db.sqlite-wal
/.idea/discord.xml
/.idea/jarRepositories.xml
/ReporterServer/target/classes/ua/valeriishymchuk/reporter/server/Main.class
/target/classes/ua/valeriishymchuk/rcr/Main.class
/.idea/misc.xml
/ReporterServer/target/classes/ua/valeriishymchuk/reporter/server/packet/PacketHandler.class
/ReporterServer/target/classes/ua/valeriishymchuk/reporter/server/thread/PacketHandlerManager.class
/ReporterServer/target/classes/ua/valeriishymchuk/reporter/server/packet/PacketResult.class
/ReporterServer/target/classes/project.properties
/ReporterServer/target/classes/ua/valeriishymchuk/reporter/server/thread/SocketThread.class
/session/data/td.binlog
/.cache/version-tdlight-2.8.1.2-4.0.242/tdjni/tdjni.dll
/target/test-classes/test/Test.class
/.idea/uiDesigner.xml
/.idea/vcs.xml
